.recover {
  max-width: 500px;
  width: 500px;
}

.title-resetPassword {
  text-align: left;
}

.text-recove {
  margin-top: 50px;
  text-align: left;
  font-size: 15px;
}

hr {
  margin: 1px 0;
}

.button-recover {
  margin-top: 20px;
  background-color: #1d82f0;
  color: white;
  font-weight: 500;
  padding: 7px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
}

.button-recover:focus {
  outline: none;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}
